<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p>Welcome to
        <%= message %>
    </p>

    <p> Real Estate LeBonCoin Ad price :
	        <%= propertyData.properties.price %>  
	    </p>
	    <p> Real Estate LeBonCoin Ad price per m2 :
	        <%= propertyData.properties.priceM %>  
	    </p>
	    <p> City's avergae price per m2 :
	        <%= averagePricePerm2 %>
	    </p>
	    <p> Is it a good deal ?
	        <%= deal %>
	    </p>
</body>

</html>