<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <form action="/" method="GET">
            <input type="text" name="urlLBC" />
            <button type="submit">
                Housing Ad From <%= RealEstateAdCity %>
            </button<
    </form>
    <p> Real Estate LeBonCoin Ad's price :
	    <%= RealEstateAdPrice %>  
	</p>
    <p> Real Estate LeBonCoin Ad's surface :
	    <%= RealEstateAdSurface %>  
	</p>
    <p> Real Estate LeBonCoin Ad's price per m2 :
	    <%= RealEstateAdPricePerM2 %>  
    </p>
    <p> Appartment or house ? :
	    <%= RealEstateAdType %>  
    </p>
    <p> City :
	    <%= RealEstateAdCity %>
	</p>
    <p> Postal Code :
	    <%= RealEstateAdPcode %>
	</p>
	<p> City's average price per m2 :
        <%= CityAveragePricePerm2 %>
	</p>
    <p> Is it a good deal ?
	    <%= messageDeal %>
	</p>
</body>

</html>