<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
    <p> Enter a link to any LeBonCoin ad 
	</p>
    <form action="/" method="GET">
            <input type="text" name="urlLBC" value="https://www.leboncoin.fr/ventes_immobilieres/1087302673.htm?ca=12_s" />
            <button type="submit">
                Submit
            </button>
    </form>
    <p> Housing Ad From  :
	    <%= RealEstateAdCity %>
	</p>
    <p> Real Estate LeBonCoin Ad's price :
	    <%= RealEstateAdPrice %> €
	</p>
    <p> Real Estate LeBonCoin Ad's surface :
	    <%= RealEstateAdSurface %> m²
	</p>
    <p> Real Estate LeBonCoin Ad's price per m2 :
	    <%= RealEstateAdPricePerM2 %> €
    </p>
    <p> Appartment or house ?
	    <%= RealEstateAdType %>  
    </p>
    <p> City :
	    <%= RealEstateAdCity %>
	</p>
    <p> Postal Code :
	    <%= RealEstateAdPcode %>
	</p>
	<p> City's average price per m2 :
        <%= CityAveragePricePerm2 %> €
	</p>
    <p> Is it a good deal ?
	    <%= messageDeal %>
	</p>
</body>

</html>